@mixin bg($url, $h: 100%) {
    background: url($url) no-repeat;
    background-size: 100% $h;
}
@mixin abs($top: auto, $left: auto, $right: auto, $bottom: auto) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}
@mixin flex ($j: center, $a: center, $wrap: nowrap){
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-wrap: $wrap;
}

// @mixin scale($s: 2.8s) {
//     animation: scale $s ease-in-out infinite;
// }
// @keyframes scale {
//     from{
//         transform: scale(1);
//     }
//     50%{
//         transform: scale(1.1);
//     }
//     to{
//         transform: scale(1);
//     }
// }